trigger:
  branches:
    include:
    - main
  tags:
    include:
    - v*

pr:
  branches:
    include:
    - main

strategy:
  matrix:
    linux:
      imageName: 'ubuntu-latest'
    mac:
      imageName: 'macos-latest'
    windows:
      imageName: 'windows-latest'

pool:
  vmImage: $(imageName)

steps:

- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node.js'

- bash: |
    /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    echo ">>> Started xvfb"
  displayName: Start xvfb
  condition: and(succeeded(), eq(variables['Agent.OS'], 'Linux'))

- bash: |
    echo ">>> Compile vscode-test"
    npm install && npm run compile
    echo ">>> Pointing to tests directory"
    cd ./build/src/test/runTest.js
    echo ">>> Run sample integration test"
    npm install && npm run compile && npm tests
  displayName: Run Tests
  env:
    DISPLAY: ':99.0'